<div class="edit-step-form form">
  <%= form_with model: @step, url: recipe_step_path(@step) do |form| %>
    <div class="form-group">
      <%= form.label :description, "タイトル" %>
      <%= form.text_area :description, class: "form-control", placeholder: "例) オクラの胡麻和え" %>
    </div>
    <div class="button-area">
      <%= form.submit "更新", class: "btn btn-primary" %>
      <%= link_to "削除", recipe_step_path(@step), method: :delete, class: "btn btn-secondary" %>
    </div>
  <% end %>
</div>
